<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible"  content="IE=edge">
	<meta name="viewport" content="width=device-width" initial-scale="1">
	<title>about</title>
	<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/common.css">
	<link type="text/css" rel="stylesheet" href="css/about.css">
</head>
<body>
	<div class="public-header public-container">
		
						<div class="header-logo">
				<img src="images/mp2-logo.jpg" alt="">
			</div>
			<div class="nav">
				<ul class="header-nav clearfolat">

					<li class="video"> <a href="#"><img class="video-pic" src="images/nav-video.png" alt="" ></a></li>
					<li class="photo"> <a href="#"><img class="photo-pic" src="images/nav-photo.png" alt="" ></a></li>
					<li class="about"> <a href="#"><img class="about-pic" src="images/nav-about.png" alt="" ></a></li>
				</ul> 
			</div>
	
		<div class="header-nav-bar public-container">
			<span class="bar-gray"></span>
			<span class="bar-yellow"></span>
		</div>
	</div>

	<div class="about-body public-container">
		<div class="about-info">
			<p class="text-info">MP2工作室成立于北京。<br>
			 我们的初衷是:用影响记录时代的声音。<br> 我们关注
			音乐、时尚、运动等年轻人感兴趣的领域，以独立的审美、新颖的思维、先进的技术支持和科学的动作流程
			，完成一部部出色的影响作品。<br>  几年来，这里季节了一批审美相同，有着极强行动力的音乐现场导演，纪录片导演
			等。。。。。。。。。我们为大家展现明星艺人不为人知的另一面，也伴随着众多独立音乐人从livehouse走向体育场。
			</p>
			<span class="about-line"></span>
		</div>

		<div class="item clearfloat">
			<div class="item-member member-pic">
				
				<div class="circle">
					<img src="images/author.png" alt="">
				</div>

			</div>
			<div class="item-member member-info">
				<h3>大白</h3>
				<p>富有情怀的纪录片创作者，多部关于普通人生活的影像作品曾在内地巡演。在音乐纪录片领域，郑导所带来的是，	看似随性的影像风格，和真实细腻的情感流露。</p>
			</div>
			<span class="about-line"></span>
		</div>

		<div class="item clearfloat">
			<div class="item-member member-pic">
				<div class="circle">
					<img src="images/author.png" alt="">
				</div>
			</div>
			<div class="item-member member-info">
				<h3>大白</h3>
				<p>富有情怀的纪录片创作者，多部关于普通人生活的影像作品曾在内地巡演。在音乐纪录片领域，郑导所带来的是，	看似随性的影像风格，和真实细腻的情感流露。</p>
			</div>
			<span class="about-line"></span>
		</div>

		<div class="item clearfloat">
			<div class="item-member member-pic">
				<div class="circle">
					<img src="images/author.png" alt="">
				</div>
			</div>
			<div class="item-member member-info">
				<h3>大白</h3>
				<p>富有情怀的纪录片创作者，多部关于普通人生活的影像作品曾在内地巡演。在音乐纪录片领域，郑导所带来的是，	看似随性的影像风格，和真实细腻的情感流露。</p>
			</div>
			<span class="about-line"></span>
		</div>

		<div class="item clearfloat">
			<div class="item-member member-pic">
				<div class="circle">
					<img src="images/author.png" alt="">
				</div>
			</div>
			<div class="item-member member-info">
				<h3>大白</h3>
				<p>富有情怀的纪录片创作者，多部关于普通人生活的影像作品曾在内地巡演。在音乐纪录片领域，郑导所带来的是，	看似随性的影像风格，和真实细腻的情感流露。</p>
			</div>
			<span class="about-line"></span>
		</div>

		<div class="item clearfloat">
			<div class="item-member member-pic">
				<div class="circle">
					<img src="images/author.png" alt="">
				</div>
			</div>
			<div class="item-member member-info">
				<h3>大白</h3>
				<p>富有情怀的纪录片创作者，多部关于普通人生活的影像作品曾在内地巡演。在音乐纪录片领域，郑导所带来的是，	看似随性的影像风格，和真实细腻的情感流露。</p>
			</div>
			<span class="about-line"></span>
		</div>

		<div class="item clearfloat">
			<div class="item-member member-pic">
				<div class="circle">
					<img src="images/author.png" alt="">
				</div>
			</div>
			<div class="item-member member-info">
				<h3>大白</h3>
				<p>富有情怀的纪录片创作者，多部关于普通人生活的影像作品曾在内地巡演。在音乐纪录片领域，郑导所带来的是，	看似随性的影像风格，和真实细腻的情感流露。</p>
			</div>
			<span class="about-line"></span>
		</div>

		<div class="about-more-item">
				
				<p class="text-more">
					<i class="line line-l"></i>
				<a href="">更多</a>
					<i class="line line-r"></i>
				</p>
				
		</div>


		

	</div>
</body>
</html>