<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
	<meta http-equiv="X-UA-compatible"  content="IE=edge">
	<meta name="viewport" content="width=device-width" initial-scale="1">
	<title>photo</title>
		<link type="text/css" rel="stylesheet" href="css/reset.css">
	<link type="text/css" rel="stylesheet" href="css/common.css">
	<link type="text/css" rel="stylesheet" href="css/photo.css">
</head>
<body>
			<div class="public-header public-container">
		
			<div class="header-logo">
				<img src="images/mp2-logo.jpg" alt="">
			</div>
			<div class="nav">
				<ul class="header-nav clearfolat">

					<li class="video"> <a href="#"><img class="video-pic" src="images/nav-video.png" alt="" ></a></li>
					<li class="photo"> <a href="#"><img class="photo-pic" src="images/nav-photo.png" alt="" ></a></li>
					<li class="about"> <a href="#"><img class="about-pic" src="images/nav-about.png" alt="" ></a></li>
				</ul> 
			</div>
	
		<div class="header-nav-bar public-container">
			<span class="bar-gray"></span>
			<span class="bar-yellow"></span>
		</div>
	</div>

	<div class="photo-body public-container">
		<div class="item">
			<div class="photo-pic">
				<img src="images/photo-demo.jpg" alt="">
			</div>
			<div class="photo-title">
				<h3>在南山的傍晚，滑手kuso</h3>
			</div>
			<div class="photo-author">
				<h4>摄影：大白</h4>
			</div>
			<span class="photo-line"></span>
		</div>

		<div class="item">
			<div class="photo-pic">
				<img src="images/photo-demo2.jpg" alt="">
			</div>
			<div class="photo-title">
				<h3>在南山的傍晚，滑手kuso</h3>
			</div>
			<div class="photo-author">
				<h4>摄影：大白</h4>
			</div>
			<span class="photo-line"></span>
		</div>

		<div class="item">
			<div class="photo-pic">
				<img src="images/photo-demo3.jpg" alt="">
			</div>
			<div class="photo-title">
				<h3>在南山的傍晚，滑手kuso</h3>
			</div>
			<div class="photo-author">
				<h4>摄影：大白</h4>
			</div>
			<span class="photo-line"></span>
		</div>

		<div class="item">
			<div class="photo-pic">
				<img src="images/photo-demo4.jpg" alt="">
			</div>
			<div class="photo-title">
				<h3>在南山的傍晚，滑手kuso</h3>
			</div>
			<div class="photo-author">
				<h4>摄影：大白</h4>
			</div>
			<span class="photo-line"></span>
		</div>

		<div class="item">
			<div class="photo-pic">
				<img src="images/photo-demo5.jpg" alt="">
			</div>
			<div class="photo-title">
				<h3>在南山的傍晚，滑手kuso</h3>
			</div>
			<div class="photo-author">
				<h4>摄影：大白</h4>
			</div>
			<span class="photo-line"></span>
		</div>

		<div class="item">
			<div class="photo-pic">
				<img src="images/photo-demo5.jpg" alt="">
			</div>
			<div class="photo-title">
				<h3>在南山的傍晚，滑手kuso</h3>
			</div>
			<div class="photo-author">
				<h4>摄影：大白</h4>
			</div>
			<span class="photo-line"></span>
		</div>

		<div class="photo-more-item">
				
				<p class="text-more">
					<i class="line line-l"></i>
				更多
					<i class="line line-r"></i>
				</p>
				
		</div>

	</div>



</body>
</html>